@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;400;700;900&family=Work+Sans:wght@300;700&display=swap');

::-moz-selection { 
    color: white;
    background: rgba(0, 128, 0, 0.726);
  }
  
  ::selection {
    color: white;
    background: rgba(0, 128, 0, 0.726);
  }

*{
    box-sizing: border-box !important;
    transition: ease;
    transition-duration: 0.3s;
    border-radius: 25px !important;
    font-family: "Onest", sans-serif;
}
h1{
    font-weight: 900 !important;
}
b{
    font-weight: 900 !important;
}
.reset-btn{
    padding: 0;
    margin: 0;
    border: none;
}
.fluid-fish{
    min-width: 100%;
    box-shadow: 10px 10px 0px green;
}
.section_text{
    max-width: 440px;
}
.offcanvas-backdrop{
    border-radius: 0px !important;
}
.offcanvas{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
footer{
    border-radius: 0px !important;
}
.footer-img{
    width: 50rem !important;
}
.btn-success:hover{
    box-shadow: 0px 0px 15px lightgreen;
}
.logo_img{
    width: 80px;
}
.footer_img{
    width: 60px;
}
.gallery-grid{
    display: grid;
    justify-content: center;
    grid-row-gap: 60px;
    grid-column-gap: 50px ;
    grid-template-columns: repeat(3, 400px);
}
@media only screen and (max-width: 1399px){
    .gallery-grid{
        grid-template-columns: repeat(2, 400px);
    }
}

@media only screen and (max-width: 991px){
    .gallery-grid{
        grid-template-columns: repeat(1, 400px);
    }
}

@media only screen and (max-width: 410px){
    .navbar-toggler{
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 330px){
    .navbar-brand{
        margin-right: auto;
        margin-left: auto;
    }
    .navbar-brand p{
        display: none;
    }
}

@media only screen and (max-width: 435px){
    .gallery-grid{
        grid-template-columns: repeat(1, 270px);
    }
    .gallery-grid a{
        width: 270px;
    }
    .gallery-grid a .img-text{
        font-size: 14px;
    }
    .photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8, .photo9, .photo10, .photo11, .photo12, .photo13, .photo14, .photo15, .photo16, .photo17{
        height: 70%;
    }
    .photo-alignment{
        margin-right: auto;
        margin-left: auto;
    }
    .contact-form{
        margin-right: 0px;
    }
}
.photo1{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/hbz-zhangye-gettyimages-175323801-1505334995.jpg?crop=1xw:1xh;center,top&resize=480:*);
}
.photo2{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/great-ocean-road-128394846-1494616348.jpg?crop=1xw:1xh;center,top&resize=980:*);
}
.photo3{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/hbz-pamukkale-gettyimages-466129341-1505338681.jpg?crop=1xw:1xh;center,top&resize=980:*);
}
.photo4{
    background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/16/1280x1919/japan-gettyimages-137098062.jpg?resize=980:*);
}
.photo5{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/st-lucia-154917524-1494616323.jpg?crop=1xw:1xh;center,top&resize=980:*);
}
.photo6{
    background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/16/1461265325-santorini-gettyimages-107741204.jpg?crop=1.0xw:1xh;center,top&resize=980:*);
}
.photo7{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/hbz-mu-cang-chai-gettyimages-625247432-1505338864.jpg?crop=1xw:1xh;center,top&resize=980:*);
}
.photo8{
    background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/16/mirador-las-torres-gettyimages-512588114.jpg?crop=1.0xw:1xh;center,top&resize=980:*);
}
.photo9{
    background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/16/havasu-gettyimages-rh252-10343_1.jpg?crop=1.0xw:1xh;center,top&resize=980:*);
}
.photo10{
    background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/16/lisbon-gettyimages-488108027_1.jpg?crop=1.0xw:1xh;center,top&resize=980:*);
}
.photo11{
    background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/16/iceland-gettyimages-511371497_1.jpg?crop=1.0xw:1xh;center,top&resize=980:*);
}
.photo12{
    background-image: url(https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/16/2048x3071/gallery-nyc-gettyimages-486543121-1.jpg?resize=980:*);
}
.photo13{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/aerial-view-of-lofoten-islands-in-norway-royalty-free-image-1571860561.jpg?crop=1xw:1xh;center,top&resize=980:*);
}
.photo14{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/cairngorms-national-park-scotland-gettyimages-560495935-1655139358.jpg?crop=1xw:1xh;center,top&resize=980:*);
}
.photo15{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/vorarlberg-austria-gettyimages-1655139358.jpg?crop=1xw:1xh;center,top&resize=980:*);
}
.photo16{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/whitsunday-islands-gettyimages-1655139358.jpg?crop=1xw:1xh;center,top&resize=980:*);
}
.photo17{
    background-image: url(https://lp-cms-production.imgix.net/features/2017/02/Chisinau-Moldova-909094cc31b8.jpg);
}
.photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8, .photo9, .photo10, .photo11, .photo12, .photo13, .photo14, .photo15, .photo16, .photo17{
    background-size: cover;
    background-position: center;
    height: 80%;
}
.img-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 20px;
}
.photo-alignment{
    text-decoration: none;
    background-color: rgb(52, 65, 59);
    font-weight: bold;
    color: white;
    width: 400px;
    height: 400px;
}
.photo-alignment:hover{
    box-shadow: 15px 15px 0px rgb(52, 65, 59);
    color: black;
    text-decoration: none;
    background-color: rgb(209, 209, 209);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form p{
    font-weight: bold;
}
form input
{
    background-color: rgb(252, 252, 252);
    padding: 24px;
    border: 0px solid black !important;
    border-bottom: 2px solid rgb(141, 141, 141) !important;
    border-radius: 0px !important;
}

form input:focus{
    background-color: rgb(235, 235, 235);
    outline: 0px solid green;
    border-bottom: 2px solid rgb(0, 182, 0) !important;
}
textarea{
    background-color: rgb(252, 252, 252);
    border-radius: 0px !important;
    border: 0px solid black;
    border-bottom: 2px solid rgb(141, 141, 141);
    resize: none !important;
}
textarea:focus{
    background-color: rgb(235, 235, 235);
    outline: 0px solid green;
    border-bottom: 2px solid rgb(0, 182, 0) !important;
}

form p{
    margin-top: 40px;
    font-size: 20px;
}
.form_submit_button{
    max-width: 300px !important;
    border-radius: 50px !important;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}
.contact_photo{
    min-width: 500px;
    width: 100%;
    height: 90%;
    background-image: url(./images/photos/contact_form_image.jpg);
    background-size: cover;
}
.contact-form{
    margin-right: 30px;
}