@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Noto+Sans:wght@200;400;700&display=swap');
body
{
    font-family: "EB Garamond";
    margin: 0;
    background-image: url(https://w7.pngwing.com/pngs/672/397/png-transparent-pizza-vector-food-thumbnail.png);
}
.navbar
{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.navlogo
{
    display: flex;
    flex-direction: row;
}
.navlogo a
{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
.page-logo-image img
{
    height: 20px;
}

.navbuttons
{
    display: flex;
    flex-direction: row;
}
.navbuttons a
{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
.page-title
{
    margin-left: 30px;
}